body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.container {
  text-align: center;
}

.headshot {
  border-radius: 10px;
}

footer {
  text-align: center;
}

.divider {
  width: 60%;           /* line is 60% of the page width */
  margin: 20px auto;    /* auto centers it horizontally */
  border: none;         /* removes default border */
  height: 2px;          /* sets the thickness */
  background-color: #333;  /* set line color */
}